[[source]] # type: ignore
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages] # type: ignore
streamlit = "*"
vega-datasets = "*"
python-dotenv = "*"
pymysql = "*"
mysql = "*"
streamlit-aggrid = "*"
xlsxwriter = "*"

[dev-packages] # type: ignore

[requires] # type: ignore
python_version = "3.13"
