[[source]] # type: ignore
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages] # type: ignore
pymysql = "*"
# mysql = "*"
streamlit-aggrid = "*"
xlsxwriter = "*"
pdf2image = "*"
pypdf2 = "*"
streamlit = "*"
pillow = "*"
seaborn = "*"
plotly-express = "*"
pyinstaller = "*"


[dev-packages] # type: ignore

[requires] # type: ignore
python_version = "3.10"
